/**
 * Author: Gilson Viana
 * Email: vianawebdev@gmail.com
 */

// Dependencies
@import 'variables';
@import 'mixins/breakpoints';
@import 'mixins/background-transition';
@import 'mixins/navbar';
@import 'mixins/banner';

// Vendors
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: $default-font;
    color: $pure-white;
    text-rendering: optimizeLegibility;
}

.page {
    color: $dark;

    @include navbar;

    p {
        font-size: 17px;
        line-height: 1.7;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font;
        font-weight: bold;
    }

    b, strong {
        color: goldenrod;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:link {
            color: inherit;
        }

        &:visited {
            color: inherit;
        }

        &:hover {
            color: inherit;
        }
    }

    .home {

        .sec-frontpage {        
            height: 100vh;
            background: #222;
            background-size: cover;
            background-attachment: fixed;
            
            @include slideshow;                        

            .contextual-1 {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;            
                color: #eee;
                font-family: $heading-font;
    
                h1 {
                    text-transform: uppercase;
                    font-weight: bold;
                    text-shadow: 1px 5px 1rem#222;
                    font-size: 3.2rem;
                }
            }
    
            .stock-chart-1 {
                display: none;

                @include for-desktop-up {
                    display: block;
                    position: absolute;
                    width: 50%;
                    left: 50%;
                    top: 80%;
                    transform: translate(-50%, 0);
                }                
            }
        }    
    
        .sec-about-us {        
            padding: 5rem 0;
            background: linear-gradient(-45deg, #ddd, #fff);
            color: $default-color;
    
            .content {            
    
                h6 {
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 1.8px;
                    margin: 0 0 10px;
                }
    
                h1 {
                    margin: 10px 0 20px;
                    line-height: 1.3;
                    letter-spacing: 1.1px;
                }
    
                .line {
                    margin: 0 0 20px;
                    height: 3px;
                    width: 15%;
                    background: red;
                }
            }
    
            .coins {
    
    
                img {
                    &:last-child {
                        position: relative;
                        top: 30px;
                        left: -60px;
                    }                
                }
            }
        }
    
        .sec-contact {        
            background: url('../src/imgs/services_edit.jpg') center;
            background-size: cover;   
            background-attachment: fixed;        
            color: $pure-white;   
            
            .content {
                margin: 5rem 0;

                h1 {
                    font-size: 44px;
                    letter-spacing: 3px;
                    font-family: $heading-font;
                }

                a {
                    display: block;
                    margin: 3rem auto;
                    padding: 1rem;
                    width: 145px;
                    background: $golden;
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    font-size: 110%;
                }
            }
        }
    }

    .contact {        

        .sec-header {
            @include navbar;
            @include banner('../src/imgs/1_banner_pic.jpg');
            padding: 10rem 0;

            .content {
                color: $pure-white;
                text-shadow: 2px 0 1rem #222;

                h1 {
                    font-family: $heading-font;
                    font-weight: bold;

                    &:after {
                        content: "";
                        display: block;
                        height: 3px;
                        width: 10%;
                        margin: 3rem auto;
                        background: $pure-white;
                    }
                }

                p {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }

        .sec-form {
            color: $dark;
            background: linear-gradient(-45deg, #ddd, #fff);

            .content {
                padding: 3rem 0;

                h6 {
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 1.8px;
                    margin: 0 0 10px;
                }
    
                h1 {
                    margin: 10px 0 20px;
                    line-height: 1.3;
                    letter-spacing: 1.1px;
                }
    
                .line {
                    margin: 0 0 20px;
                    height: 3px;
                    width: 15%;
                    background: $dark;
                }
            }   
            
            #contact-form {
                padding: 3rem 0;
            }
        }

        .sec-address {            
            color: $dark;
            
            .content {
                h3 {
                    font-family: $heading-font;
                    font-weight: bold;
                }
            }
        }
    }

    .services {

        .sec-header {
            @include navbar;
            @include banner('../src/imgs/2_banner_pic.jpg');
            padding: 10rem 0;

            .content {
                color: $pure-white;
                text-shadow: 2px 0 1rem #222;

                @include for-phone-only {
                    h1, h3 {
                        font-size: 2rem;
                    }
                }

                h3 {
                    font-weight: normal;
                }
            }
        }

        .sec-service {
            color: $dark;

            .content {
                padding: 5rem;

                @include for-phone-only {
                    padding: 0;
                }

                h3 {
                    margin: 3rem 0;
                    font-family: $heading-font;
                    font-weight: bold;                
                }
            }
        }

        .sec-learn-more {            

            .content {
                padding: 3rem 0;
                color: $dark;

                h6 {
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 1.8px;
                    margin: 0 0 10px;
                    color: goldenrod;
                }
    
                h3 {
                    margin: 10px 0 20px;
                    line-height: 1.3;
                    letter-spacing: 1.1px;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 1rem 0;
                    }
                }
            }

            .coins {
                img {
                    width: 100px;

                    &:last-child {
                        position: relative;
                        top: 30px;
                        left: -30px;
                    } 
                }
            }
        }

        .sec-contact {
            margin: 3rem 0 5rem;

            a {
                display: block;
                margin: 3rem auto;
                padding: 1rem;
                width: 145px;
                background: $golden;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                font-size: 110%;
            }
        }
    }

    .about-us {

        .sec-header {
            @include navbar;
            @include banner('../src/imgs/3_banner_pic.jpg');
            padding: 10rem 0;       
            
            .content {
                color: $pure-white;
                text-shadow: 2px 0 1rem #222;
            }
        }

        .sec-about {
            color: $dark;

            .wrapper {
                background: #ddd;
                padding: 2rem 0;
                border-radius: 3px;

                img {
                    @include for-phone-only {
                        width: 100%;
                    }
                }
            }

            .content {
                padding: 5rem;
                @include for-phone-only {
                    padding: 0;
                }

                h3 {
                    margin: 3rem 0;
                    font-family: $heading-font;
                    font-weight: bold;                
                }
            }
        }

        .sec-offices {
            margin: 0 0 10rem;
            color: $dark;
            
            h1 {
                font-weight: normal;
            }
            .line {
                width: 10%;
                height: 3px;
                background: $dark;
                margin: 3rem auto;
            }

            img {
                @include for-phone-only {
                    width: 100%;
                }
            }
        }

    }

    footer {
        background: $dark;
        color: $pure-white;
        padding: 3rem 0;
        
        img {
            width: 30px;            
        }

        p {
            font-size: 13px;
        }

        .first-col {
            display: flex;

            div {
                margin-left: 1rem;
            }
        }

        .footer-links {
            text-align: right;

            @include for-phone-only {
                text-align: center;

                ul {
                    margin: 0;
                    padding: 0;
                }
            }

            ul {
                list-style: none;

                li {
                    a {
                        color: inherit;
                    }
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}